<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quên mật khẩu</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <h1>Quên mật khẩu</h1>
  <form th:action="@{/send-reset-link}" method="post">
      <div>
          <label for="email">Nhập địa chỉ email của bạn:</label>
          <input type="email" id="email" name="email" required />
      </div>
      <div>
          <button type="submit">Gửi liên kết phục hồi</button>
      </div>
  </form>
</body>
</html>