* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  background-color: #e4e8ee;
  display: flex;
  height: 100vh;
}

.login-container {
  margin: auto;
  background-color: #fff;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.login-heading {
  text-align: center;
  padding: 20px;
}

.title {
  font-weight: 600;
  margin-top: 10px;
}

.form-control {
  width: 100%;
  padding: 20px 30px 10px 30px;
  background-color: #fff;
}

.inputGroup {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 12px;
}

.button {
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    rgba(211, 79, 247, 1),
    rgba(157, 1, 149, 1)
  );
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.login-footer {
  padding: 0 30px 20px;
  display: flex;
  flex-direction: column;
}

.forgot-pass {
  font-size: 13px;
  color: #000;
  margin-bottom: 10px;
}
